# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Environment Variables
# .env
# .env.*
!.env.example

# Production & Build Output
/client/dist
dist/
.next/
out/

# Logs
npm-debug.log*
yarn-error.log
*.log

# TypeScript build output
*.tsbuildinfo

# Coverage reports
coverage/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
